<li><div>Username is {{data.username}} </div></li>
<li>{{data.email}} </li>
<li>{{data.password}} </li>
<li>{{data.password1}} </li>
<p>Here is 10 plus 10 : {{calculation 10}}</p>
<p>{{#strong}}Here is sample text {{/strong}}</p>